@mixin _btn {
    color: map-get($colors, "black");
    border-radius: 10px;
    background-color: map-get($colors, "light");
    border: 1px solid map-get($colors, "dark");
    padding: 0 rem(10);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
    @include hover {
        box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
        transform: translateY(-2px);
    }
    @include mq(sp) {
        box-shadow: none;
	    transition: none;
    }
}
