@mixin _form {
    width: 100%;
    font-size: rem(18);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(15);
    @include mq(sp) {
        flex-wrap: wrap;
        gap: rem(10) 0;
    }
}
