@mixin _form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: rem(10) 0;
    font-size: rem(15);
    @include mq(pc) {
        flex-direction: row;
        gap: 0 rem(15);
        font-size: rem(18);
    }
}
