$initType: "medium";

@mixin _title($type: $initType) {
    // サイト共通タイトル mediumサイズ
    @if ($type == "medium") {
        font-weight: 700;
        font-size: rem(23);
        @include mq(pc) {
            font-size: rem(28);
        }
    }

    // サイト共通タイトル largeサイズ
    @else if($type == "large") {
        font-weight: bold;
        font-size: rem(30);
        letter-spacing: rem(9);
        @include mq(pc) {
            font-size: rem(35);
            letter-spacing: rem(12);
        }
    }
}
