@mixin _txt() {
    color: map-get($colors, 'black');
    font-size: rem(13);
    @include mq(tab) {
        font-size: rem(16);
    }
    @include mq(pc) {
        font-size: rem(19);
    }

    // 結果テキスト
    &._result {
        display: none;
    }

    // エラーテキスト
    &._error {
        display: none;
        color: map-get($colors, 'error');
    }

    // テキスト内キーワード
    &._keyword span {
        color: map-get($colors, 'red');
        font-weight: 700;
    }
}
