.factorization {
  width: 100%;
  background-color: #ffffff;
  padding: 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.9375rem;
}
@media screen and (min-width: 1025px) {
  .factorization {
    row-gap: 1.25rem;
  }
}
.factorization-tit {
  font-weight: 700;
  font-size: 1.4375rem;
}
@media screen and (min-width: 1025px) {
  .factorization-tit {
    font-size: 1.75rem;
  }
}
.factorization-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.625rem 0;
  font-size: 0.9375rem;
}
@media screen and (min-width: 1025px) {
  .factorization-form {
    flex-direction: row;
    gap: 0 0.9375rem;
    font-size: 1.125rem;
  }
}
.factorization-form input {
  border: ridge;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .factorization-form input {
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  .factorization-form input {
    width: 20%;
    margin: 0;
  }
}
.factorization-form button {
  color: #000000;
  border-radius: 10px;
  background-color: rgba(204, 204, 204, 0.5);
  border: 1px solid #333;
  padding: 0 0.625rem;
}
@media screen and (min-width: 1025px) {
  .factorization-form button {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
    transition: 0.3s;
  }
}
@media (hover: hover) and (pointer: fine) {
  .factorization-form button:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .factorization-form button:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}
.factorization-txt {
  display: none;
  font-size: 1.0625rem;
}
@media screen and (min-width: 1025px) {
  .factorization-txt {
    font-size: 1.25rem;
  }
}
.factorization-error {
  display: none;
  font-size: 1.0625rem;
  color: #dc3545;
}
@media screen and (min-width: 1025px) {
  .factorization-error {
    font-size: 1.25rem;
  }
}

.gcd {
  width: 100%;
  background-color: #ffffff;
  padding: 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.9375rem;
}
@media screen and (min-width: 1025px) {
  .gcd {
    row-gap: 1.25rem;
  }
}
.gcd-tit {
  font-weight: 700;
  font-size: 1.4375rem;
}
@media screen and (min-width: 1025px) {
  .gcd-tit {
    font-size: 1.75rem;
  }
}
.gcd-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.625rem 0;
  font-size: 0.9375rem;
}
@media screen and (min-width: 1025px) {
  .gcd-form {
    flex-direction: row;
    gap: 0 0.9375rem;
    font-size: 1.125rem;
  }
}
.gcd-form input {
  border: ridge;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .gcd-form input {
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  .gcd-form input {
    width: 20%;
    margin: 0;
  }
}
.gcd-form button {
  color: #000000;
  border-radius: 10px;
  background-color: rgba(204, 204, 204, 0.5);
  border: 1px solid #333;
  padding: 0 0.625rem;
}
@media screen and (min-width: 1025px) {
  .gcd-form button {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
    transition: 0.3s;
  }
}
@media (hover: hover) and (pointer: fine) {
  .gcd-form button:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .gcd-form button:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}
.gcd-txt {
  display: none;
  font-size: 1.0625rem;
}
@media screen and (min-width: 1025px) {
  .gcd-txt {
    font-size: 1.25rem;
  }
}
.gcd-error {
  display: none;
  font-size: 1.0625rem;
  color: #dc3545;
}
@media screen and (min-width: 1025px) {
  .gcd-error {
    font-size: 1.25rem;
  }
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5625rem;
  width: 100%;
  padding: 1.5625rem 1.5625rem;
}
@media screen and (min-width: 1025px) {
  .numbers {
    row-gap: 1.875rem;
    padding: 1.875rem 1.875rem;
  }
}

.perfect {
  width: 100%;
  background-color: #ffffff;
  padding: 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.9375rem;
}
@media screen and (min-width: 1025px) {
  .perfect {
    row-gap: 1.25rem;
  }
}
.perfect-tit {
  font-weight: 700;
  font-size: 1.4375rem;
}
@media screen and (min-width: 1025px) {
  .perfect-tit {
    font-size: 1.75rem;
  }
}
.perfect-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.625rem 0;
  font-size: 0.9375rem;
}
@media screen and (min-width: 1025px) {
  .perfect-form {
    flex-direction: row;
    gap: 0 0.9375rem;
    font-size: 1.125rem;
  }
}
.perfect-form input {
  border: ridge;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .perfect-form input {
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  .perfect-form input {
    width: 20%;
    margin: 0;
  }
}
.perfect-form button {
  color: #000000;
  border-radius: 10px;
  background-color: rgba(204, 204, 204, 0.5);
  border: 1px solid #333;
  padding: 0 0.625rem;
}
@media screen and (min-width: 1025px) {
  .perfect-form button {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
    transition: 0.3s;
  }
}
@media (hover: hover) and (pointer: fine) {
  .perfect-form button:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .perfect-form button:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}
.perfect-txt {
  display: none;
  font-size: 1.0625rem;
}
@media screen and (min-width: 1025px) {
  .perfect-txt {
    font-size: 1.25rem;
  }
}
.perfect-error {
  display: none;
  font-size: 1.0625rem;
  color: #dc3545;
}
@media screen and (min-width: 1025px) {
  .perfect-error {
    font-size: 1.25rem;
  }
}

.prime {
  width: 100%;
  background-color: #ffffff;
  padding: 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.9375rem;
}
@media screen and (min-width: 1025px) {
  .prime {
    row-gap: 1.25rem;
  }
}
.prime-tit {
  font-weight: 700;
  font-size: 1.4375rem;
}
@media screen and (min-width: 1025px) {
  .prime-tit {
    font-size: 1.75rem;
  }
}
.prime-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.625rem 0;
  font-size: 0.9375rem;
}
@media screen and (min-width: 1025px) {
  .prime-form {
    flex-direction: row;
    gap: 0 0.9375rem;
    font-size: 1.125rem;
  }
}
.prime-form input {
  border: ridge;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .prime-form input {
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  .prime-form input {
    width: 20%;
    margin: 0;
  }
}
.prime-form button {
  color: #000000;
  border-radius: 10px;
  background-color: rgba(204, 204, 204, 0.5);
  border: 1px solid #333;
  padding: 0 0.625rem;
}
@media screen and (min-width: 1025px) {
  .prime-form button {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
    transition: 0.3s;
  }
}
@media (hover: hover) and (pointer: fine) {
  .prime-form button:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .prime-form button:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}
.prime-txt {
  display: none;
  font-size: 1.0625rem;
}
@media screen and (min-width: 1025px) {
  .prime-txt {
    font-size: 1.25rem;
  }
}
.prime-error {
  display: none;
  font-size: 1.0625rem;
  color: #dc3545;
}
@media screen and (min-width: 1025px) {
  .prime-error {
    font-size: 1.25rem;
  }
}